# **To develop a regression model to predict the profit/loss a product would incur in a superstore based on certain inputs**

Importing required libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import LinearRegression
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

Reading the data from the file and displaying the first 5 rows of the data

In [ ]:
df = pd.read_csv("Sample - Superstore.csv",encoding='latin-1')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

Displaying the information about the dataframe created

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

Displaying the columns (labels) in the dataframe

In [ ]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

A new dataframe with the labels Sales, Quantity, Discount is created and stored in 'x' variable and an array of values of the Profit label are stored in 'y' variable

In [ ]:
x = pd.DataFrame({'Sales': df['Sales'], 'Quantity': df['Quantity'], 'Discount': df['Discount']})
y = np.array(df['Profit'])

Displaying the contents of the x variable

In [ ]:
x

         Sales  Quantity  Discount
0     261.9600         2      0.00
1     731.9400         3      0.00
2      14.6200         2      0.00
3     957.5775         5      0.45
4      22.3680         2      0.20
...        ...       ...       ...
9989   25.2480         3      0.20
9990   91.9600         2      0.00
9991  258.5760         2      0.20
9992   29.6000         4      0.00
9993  243.1600         2      0.00

[9994 rows x 3 columns]

Displaying the contents of the y variable

In [ ]:
y

array([ 41.9136, 219.582 ,   6.8714, ...,  19.3932,  13.32  ,  72.948 ])

Spliting arrays into random train and test subsets using train_test_split() function

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size= 0.1, random_state=42)

Fitting the linear model with training data (x) and target values (y)

In [ ]:
linear_r = LinearRegression()
linear_r.fit(x_train,y_train)

LinearRegression()

Predicting with predict() method using the sample

In [ ]:
y_pred = linear_r.predict(x_test)
print('R2 of Linear Regression: ', r2_score(y_test,y_pred))
print('mse of Linear Regression: ', mean_squared_error(y_test,y_pred))
print('mae of Linear Regression: ', mean_absolute_error(y_test,y_pred))

R2 of Linear Regression:  0.26516608115818285
mse of Linear Regression:  42782.002083801424
mae of Linear Regression:  59.44015874528808

Creating a list of the sales, quantity and discount values inputted from the user, based on which we predict using the linear regression model

In [ ]:
requisite = [float(i) for i in input("Enter the sales, quantity and discount values: ").split()]
requisite

Enter the sales, quantity and discount values: 731.9400 3 0

[731.94, 3.0, 0.0]

In [ ]:
out_linear_r = linear_r.predict(np.array(requisite).reshape(1,-1))
out_linear_r

array([145.66895522])